name: .NET

on:
  push:
    branches: [ master ]
    paths: [ AuthN.*/** ]
  pull_request:
    branches: [ master ]
    paths: [ AuthN.*/** ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: CI
      env:
        COVERALLS_TOKEN: ${{ secrets.COVERALLS_TOKEN }}
      run: |
        dotnet restore
        dotnet test --settings coverlet.runsettings
        dotnet tool restore
        dotnet reportgenerator -targetdir:coveragereport -reports:**/coverage.cobertura.xml -reporttypes:"lcov"
        dotnet csmacnz.Coveralls --lcov -i coveragereport/lcov.info --repoToken $COVERALLS_TOKEN --commitId $GITHUB_SHA --commitBranch master
