name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: CI
      run: |
        dotnet restore
        dotnet test --settings coverlet.runsettings
        dotnet tool restore
        dotnet reportgenerator -targetdir:coveragereport -reports:**/coverage.info -reporttypes:"lcov"
        dotnet csmacnz.Coveralls --lcov -i coveragereport/lcov.info --repoToken ${COVERALLS_TOKEN} --commitId ${GITHUB_SHA} --commitBranch master
